body {
    background-color: black;
}

img {
    border: #939291 double 10px;
}

h1 {
    color:#939291;
    font-family: "Silkscreen", sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    }

h2 {
    color: #bab8b7;
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    text-align: center;
    margin: 0px;
}

p {
    font-family:"Chakra Petch", sans-serif;
    font-weight: 300;
   font-style: normal;
   color: #bab8b7;
   text-align: center;
   margin-bottom: 20px;
}

.initial {
    text-align: center;
    margin-bottom: 50px;
        }

.botton {
    display: inline-block;
    margin-inline: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
}

.box {
  padding: 20px;
}

.box1 {
    font-family:"Chakra Petch", sans-serif;
    font-size: 30px;
    font-style: normal;
    background-color: black;
    color: #bab8b7;
    padding: 10px;
    padding-top: 25%;
    text-align: center;
}

.box2 {
  background-color: black;
  border: 1px solid #939291;
}

.session {
   border: 1px solid #939291;
   font-family:"Chakra Petch", sans-serif;
   font-weight: 300;
   font-style:normal;
   color: black;
   text-align: center;
   background-color: #939291;
}

.descricao {
   font-family:"Chakra Petch", sans-serif;
   font-weight: 300;
   font-style: normal;
   color: #bab8b7;
}

.boxcontact {
   border: 1px solid #939291;
   margin-top: 100px;
   text-align: center;
   font-family:"Chakra Petch", sans-serif;
   font-weight: 300;
   font-style: normal;
   color: #939291;
   text-align: center;
}

.boxcontact > h3 {
   color: #6c6c6b;
   font-size: 25px;
}

